.results {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.body {
    padding: 0% 2%;
    color: gray;
}

.topContainer {
    display: flex;
    justify-content: space-between;
}

.topRight {
    display: flex;
    align-self: flex-end;
}

.topRight > div {
    border: 2px solid gray;
    text-align: center;
    width: 10rem;
}

.resultsContainer {
    width: 70%;
    margin-right: 5rem;
}

.container {
    display: flex;
}

.maybe {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid black;
}

.searchInput {
    width: 20rem;
    border: 2px solid gray;
    height: 2rem;
    outline-width: 0;
    font-size: 16px;
    padding: 0px 20px;
    padding-left: 2rem;
}

.search {
    display: flex;
    position: relative;
}

.searchIcon {
    position: absolute;
    left: 0.5rem;
    top: 0.25rem;
}

.requestButton {
    display: flex;
    height: 2.5rem;
    font-weight: 600;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}

.requestButton>div {
    font-size: 16px;
}

.requestButton:hover {
    cursor: pointer;
    background-color: #F4F5F7;
}

.topRight>div:nth-child(2) {
    color: white;
    background-color: #938B8B;
}

.topRight>div:nth-child(2):hover {
    cursor: not-allowed
}

.topRight>div:nth-child(1):hover {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: inherit;
}