.results {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 70rem;
}

.container {
    display: flex;
}

.maybe {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid black;
}