.container {
    display: flex;
    width: 45%;
    height: 12rem;
    padding: 1rem;
    border: 2px solid gray;
    margin-bottom: 2rem;
}

.imgIcon {
    margin-top: 2rem;
    max-width: 6rem;
    max-height: 6rem;
    padding: 1px;
}

.details {
    margin-left: 1rem;
    width: 25rem;
}

.addIcon {
    margin-left: 5rem;
    margin-top: 0.25rem;
}

.btn:hover {
    cursor: pointer;
}