.noWrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.viewIcons {
    position: fixed;
    padding-left: 80%;
    z-index: 1;
    margin-top: -0.5;
}

