.container {
  display: flex;
}

.container > div:first-child {
  width: 50%;
}

.container > div:last-child {
  width: 50%;
}

.header {
  font-size: 2rem;
  color: gray;
  font-weight: 800;
  letter-spacing: 0.25rem;
  padding-left: 2rem;
}

.form {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-30%, -50%);
}

.formInput {
  width: 40rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.15rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formInput:focus {
  outline: none;
}

.signIn {
  width: 40rem;
  height: 2.2rem;
  background-color: #938B8B;
  color: white;
  font-size: 1rem;

}

.underline {
  width: 40rem;
  border-top: 1px solid gray;
  margin-top: 1rem;
  text-align: center;
  color: gray;
}

.sideImg {
  width: 100%;
  height: auto;
  max-height: 100vh;
}

.disclose {
  width: 40rem;
  text-align: center;
  color: gray;
  font-size: 10px;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid gray;
}

.loginLink {
  text-align: center;
  font-size: 12px;
  color: gray;
}