@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    color: black;
    font-family: 'Rubik', sans-serif;
}

p {
    font-size: 125%;
}

.Link {
    text-decoration: none;
    color: inherit;
}