.container {
    display: flex;
    width: 25rem;
    padding: 1rem;
    border: 2px solid gray;
    margin-bottom: 2rem;
    position: relative;
}

.imgIcon {
    margin-top: 0.5rem;
    max-width: 6rem;
    max-height: 6rem;
    padding: 1px;
}

.details {
    margin-left: 1rem;
    width: 20rem;
}

.removeIcon {
    position: absolute;
    right: -1.1rem;
    top: -1.1rem;
    z-index: 99;
}


.removeIcon:hover {
    cursor: pointer;
}