.container {
    display: flex;
    padding: 1rem;
    border: 2px solid gray;
    margin-bottom: 2rem;
    position: relative;
}

.imgIcon {
    margin-top: 0.5rem;
    max-width: 6rem;
    max-height: 6rem;
    padding: 1px;
}

.details {
    margin-left: 1rem;
    width: 20rem;
}

.removeIcon {
    position: absolute;
    right: -1.2rem;
    top: -1.2rem;
    border-radius: 50%;
    background-color: white;
}


.removeIcon:hover {
    cursor: pointer;
}